<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../js/vue.js"></script>
    <script>
        /*
         * 时间:      2020年2月2日20:35:41
         *
         * 目的:      图书管理系统
         *
         * 结果
         *       -----------------------------
         *
         *
         *       -----------------------------
         * */
    </script>
    <style type="text/css">
        .grid {
            margin: auto;
            width: 500px;
            text-align: center;
        }

        .grid table {
            width: 100%;
            border-collapse: collapse;
        }

        .grid th, td {
            padding: 10px;
            border: 1px dashed orange;
            height: 35px;
            line-height: 35px;
        }

        .grid th {
            background-color: orange;
        }

        .grid .book {
            padding-bottom: 10px;
            padding-top: 5px;
            background-color: #F3DCAB;
        }

        .grid .total {
            height: 30px;
            line-height: 30px;
            background-color: #F3DCAB;
            border: 1px solid orange;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="grid">
        <h1>图书管理</h1>
        <div class="book">
            <div>
                <label for="id">编号</label>
                <!--                disabled表明禁用状态      v-focus自定义指令表明获取焦点-->
                <input type="text" id="id" v-model="id" :disabled="flag" v-focus>
                <label for="name">
                    名称
                </label>
                <input type="text" id="name" v-model="name">
                <!--                侦听器-->
                <button @click="handle" :disabled="submitFlag">提交</button>
            </div>
        </div>
        <!--        计算属性-->
        <div class="total">
            <span>图书总数</span>
            <span>{{total}}</span>
        </div>
        <table>
            <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody :key="item.id" v-for="item in books">
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date|format('yyyy-MM-dd hh:mm:ss')}}</td>
                <td>
                    <!--                  禁用掉默认的跳转事件-->
                    <a href="" @click.prevent="toEdit(item.id)">修改</a>
                    <span>|</span>
                    <a href="" @click.prevent="deleteBook(item.id)">删除</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    // 格式化日期
    //value是前面的数据,arg是括号里的参数
    Vue.filter('format', function (value, arg) {
        // 正则格式化日期
        function dateFormat(date, format) {
            if (typeof date === "string") {
                var mts = date.match(/(\/Date\((\d+)\)\/)/);
                if (mts && mts.length >= 3) {
                    date = parseInt(mts[2]);
                }
            }
            date = new Date(date);
            if (!date || date.toUTCString() == "Invalid Date") {
                return "";
            }
            var map = {
                "M": date.getMonth() + 1, //月份
                "d": date.getDate(), //日
                "h": date.getHours(), //小时
                "m": date.getMinutes(), //分
                "s": date.getSeconds(), //秒
                "q": Math.floor((date.getMonth() + 3) / 3), //季度
                "S": date.getMilliseconds() //毫秒
            };

            format = format.replace(/([yMdhmsqS])+/g, function (all, t) {
                var v = map[t];
                if (v !== undefined) {
                    if (all.length > 1) {
                        v = '0' + v;
                        v = v.substr(v.length - 2);
                    }
                    return v;
                } else if (t === 'y') {
                    return (date.getFullYear() + '').substr(4 - all.length);
                }
                return all;
            });
            return format;
        }

        //调用正则,返回格式化后的数据
        return dateFormat(value, arg);
    });
    // 自定义指令
    Vue.directive('focus', {
        // 当被绑定的元素插入到 DOM 中时……
        inserted: function (el) {
            // 聚焦元素
            el.focus();
        }
    });
    var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                flag: false,
                submitFlag: false,
                books: []
            },
            methods: {
                handle: function () {
                    if (this.flag) {
                        // 编辑操作
                        // =>       它只会从自己的作用域链的上一层继承this(也就是找到父级)
                        //     some() 方法用于检测数组中的元素是否满足指定条件
                        this.books.some((item) => {
                            if (item.id == this.id) {
                                item.name = this.name;
                                //    完成更新操作后需要终止循环
                                return true;
                            }
                        });
                        this.flag = false;
                        this.id = '';
                        this.name = '';
                    } else {
                        // 添加操作

                        // 添加图书
                        var book = {};
                        book.id = this.id;
                        book.name = this.name;
                        book.data = '';
                        this.books.push(book);
                        // 清空表单
                        this.id = '';
                        this.name = '';
                    }

                },
                toEdit: function (id) {
                    // 禁止修改id
                    this.flag = true;
                    var book = this.books.filter(function (item) {
                        return item.id == id;
                    });
                    // 把获取到的信息填充到表单
                    this.id = book[0].id;
                    this.name = book[0].name;
                },
                deleteBook: function (id) {
                    // 删除图书
                    // 根据id从数组中查找索引
                    var index = this.books.findIndex(function (item) {
                        return item.id == id;
                    });
                    // 根据索引删除元素
                    this.books.splice(index, 1);
                },
            },
            computed: {
                total: function () {
                    //    计算图书总数
                    return this.books.length;
                }
            },
            //侦听器
            watch: {
                name: function (val) {
                    //验证图书名称是否存在
                    var flag = this.books.some(function (item) {
                        return item.name == val;
                    });
                    if (flag) {
                        //    图书名称存在
                        this.submitFlag = true;
                    } else {
                        this.submitFlag = false;
                    }
                }
            },
            //模拟从后台传数据
            mounted: function () {
                //    该生命周期钩子函数被触发的时候,模板已经可以使用
                //    此时可以获取后台数据,然后把数据填充到模板
                var data = [{
                    id: 1,
                    name: '三国演义',
                    date: 1580647846
                }, {
                    id: 2,
                    name: '水浒传',
                    date: 1530647846
                }, {
                    id: 3,
                    name: '红楼梦',
                    date: 1580627846
                }, {
                    id: 4,
                    name: '西游记',
                    date: 1280647846
                }];
                this.books = data;
            }
        })
    ;
</script>
</body>
</html>
